:root {
  --title : 36px;
  --semititle: 18px;
}

p, h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  background-color: #384E9C;
  display: flex;
  flex-direction: row;
  height: 10vh;
  padding: 0 2rem;
  align-items: center;
}

section {
  height: 90vh;
}

a {
  text-decoration: none;
}

.title {
  font-size: var(--title) !important;
}

.semi-title {
  font-size: var(--semititle) !important;
}

/*  */

.brand {
  width: 10%;
}

.navigator {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  margin-right: 2.5rem;
}

.navigator > a {
  color: #fff;
}

form {
  width: 25%;
}

form > input {
  width: 100%;
  padding: 0.35rem 1rem;
}

.hero-section {
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hero-carousel, .hero-greet {
  padding: 1rem;
  display: grid;
}

.hh {
  height: 500px;
  width: 500px;
}

.hh > div {
  /* width: 100%; */
}

.hh > div > h2 {
  z-index: 2;
  position: absolute;
}

.hh > div > img {
  position: absolute;
  border-radius: 10px;
  z-index: 1;
}

/* VIRTUAL TOUR */
.vtour {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 5vh !important;
  height: 95vh !important;
}

.vtour-greet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.vtour-greet > p:first-of-type {
  text-align: right;
  background-color: #384E9C;
  padding-right: 1rem;
  color: #fff !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.vtour-greet > p {
  color: #384E9C;
  margin: 0;
  font-size: var(--title);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.vtour-description {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: var(--semititle);

  align-self: flex-end;
  width: 70%;
  text-align: center;
  padding: 1rem;
  background-color: #FCD420;
}

.vtour-images {
  display: flex;
  flex: row;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  flex: 1;
}

/* EXHIBITS */

.exhibit {
  background-color: #384E9C;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5vh !important;
  height: 95vh !important;
  align-items: center;
}

.exhibit > .title {
  color: #FCD420;
}

.exhibit > .semi-title {
  color: #fff;
}

.exhibit-container {
  gap: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}


.exh-title {
  font-style: italic;
  color: #FCD420 !important;
  font-weight: 500;
  font-size: 28px;
}

.exh > img {
  width: inherit;
  height: auto;
  object-fit: cover;
}

.exhibit > button {
  width: 25%;
  padding: 1rem;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #D9D9D9;
}

.exh {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px;
  max-width: 300px;
  color: #fff;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.exh-description {
  font-size: 14px;
}

/* QUOTES */
.quotes {
  padding: 2rem !important;
  height: 95vh !important;
  display: grid;
  place-items: center;
}

.quotes > div {
  padding: 2rem;
  display: grid;
  place-items: center;
  height: 500px;
  width: 100%;
  background-color: #FCD420;
}

.quotes > div > p:first-child {
  font-size: var(--title);
  text-align: center;
}

.quotes > div > p:last-child {
  font-size: var(--semititle);
  text-align: center;
}

/* NEWS */

.news {
  padding-top: 5vh !important;
  height: 95vh !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.news > .title {
  background-color: #384E9C;
  border-radius: 5px;
  color: #fff;
  padding: 1rem 2rem;
}

.news-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.news-item {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.news-item > p {
  font-size: var(--semititle);
  font-weight: 500
}

.news-item > img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}

.news-item > a{
  margin-top: auto;
  text-align: center;
  padding: 0.5rem;
  background-color: #384E9C;
  color: #fff;
}

/* ABOUT */

.about {
  padding-top: 5vh !important;
  height: 95vh !important;
  gap: 1rem;
}

.know {
  position: absolute;
  right: 0;
  width: 60%;
  text-align: right;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 5rem;
}

.know > .about-NU {
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.know > .title {
  font-weight: bold;
  font-size: 48px !important;
}

.about > img {
  margin-top: 4rem;
  position: absolute;
  height: auto;
  width: 700px;
  z-index: -1;
  left: -200px;
}

.know > button {
  align-self: flex-end;
  margin-top: 2rem;
  font-size: 18px;
  width: 25%;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #D9D9D9;
}

/* CONTACT */

.contact {
  padding: 5rem 10rem !important;
  height: 75vh !important;
  display: flex;
  flex-direction: row;
  background-color: #384E9C;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.contact-detail > p:nth-child(1) {
  color: #000 !important;
  font-weight: 500 !important;
}


.contact-detail > p > span {
  color: #FCD420 !important;
}

.contact-detail > img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin-bottom: auto;
}

.contact-form {
  width: 350px;
  margin-left: auto;
  padding: 2rem;
  background-color: #FCD420;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form > textarea {
  height: 400px;
  resize: none; 
}

.contact-form > button {
  align-self: flex-end;
  font-size: 16px;
  width: 50%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #D9D9D9;
}

/* Slick Overrides */
.slick-slide {
  height: 500px !important;
}

.slick-slide > img {
  width: inherit !important;
  height: inherit !important;
  object-fit: cover !important;

}

.slick-next::before, .slick-prev::before {
  font-size: 30px !important;

}

.slick-next, .slick-prev {
  width: 40px !important;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 1 !important;
}