
:root {
  --title : 36px;
  --semititle: 18px;
}
p, h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
  scroll-behavior: smooth;
}



.hero-section {
  background-color: #D9D9D9;
  display: flex;
}


/* MOBILE */
@media (max-width: 500px) {
  .news > .title {
    padding: 1rem;
    font-size: 24px !important;
    text-align: center;
    color: #fff;
    background-color: #384E9C;
  }
  

  .news-container {
    width: 100%;
    overflow-x: scroll;
  }

  /* MOBILE - HEADER */
  
  header {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    color: #fff;
  }

  .navigator {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2rem;
    order: 3;
    overflow-x: scroll;
  }

  .navigator > a {
    text-wrap: nowrap;
  }

  .brand {
    width: 20%;
    order: 1;
  }

  .search-field {
    order: 2;
  }

  /* MOBILE - HERO */

  .hero-section {
    flex-direction: column;
  }

  .hero-greet > .title {
    padding: 1rem 0;
    font-size: 24px !important;
    text-align: center;
    font-weight: 500;
  }

  .hh {
    flex: 1;
    /* height: 500px; */
    width: 100%;
  }

  .about > img {
    width: 300px;
    left: -75px;
  }

  .about {
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .know {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .know > .about-NU {
    padding: 0 1rem;
    font-size: 14px;
    text-align: justify;
    font-style: italic;
  }
  
  .know > .title {
    font-weight: bold;
    font-size: 26px !important;
  }

  .quotes {
    display: grid;
    place-items: center;
    text-align: center;
    margin: 1rem 0;
  }
  
  .quotes > div {
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: #FCD420;
  }
  
  .quotes > div > p:first-child {
    font-size: 18px;
  }
  
  .quotes > div > p:last-child {
    font-size: 16px;
  }

  /* MOBILE - ABOUT */

  .know > img {
    width: 40%;
  }

  .know > button {
    width: 50%;
  }

  /* MOBILE - CONTACT */
  .contact {
    flex-direction: column;
    padding-top: 2rem;
  }
  .contact-form {
    padding: 1rem;
  }

  .contact-detail {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-bottom: 2rem;
  }

  .contact-detail > p:first-of-type {
    margin-bottom: 1rem;
    color: #000 !important;
    font-weight: 500 !important;
  }


  .contact-detail > p > span {
    color: #FCD420 !important;
  }

  .contact-detail > img {
    width: 120px;
    height: auto;
    object-fit: cover;
    margin-bottom: 2rem;
  }

  .contact-form > textarea {
    height: 200px;
    resize: none; 
  }

  .contact-form > button {
    align-self: flex-end;
    width: 50%;
  }

  /* MOBILE - EXHIBIT */
  .exhibit {
    padding: 2rem 0;
    background-color: #384E9C;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .exhibit > .title {
    color: #FCD420;
  }

  .exhibit > .semi-title {
    color: #fff;
    text-align: center;
  }

  .exhibit-container {
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .exh-title {
    font-style: italic;
    color: #FCD420 !important;
    font-weight: 500;
    font-size: 16px;
  }

  .exh > img {
    width: inherit;
    height: auto;
    object-fit: cover;
  }

  .exhibit > button {
    width: 50%;
  }

  .exh {
    overflow-y: auto;
    overflow-x: hidden;
    height: 350px;
    max-width: 300px;
    color: #fff;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .exh-description, .exh > p:first-of-type {
    font-size: 12px;
  }

  .exh-description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* MOBILE - NEWS */
  .news-item {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-item > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  .news-item > p {
    font-size: 14px;
    font-weight: 500
  }

  .news-container {
    display: flex;
    flex-direction: row;
  }

  .news {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  /* MOBILE - VIRTUAL TOUR */
  .vtour {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
  }

  .vtour-greet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .vtour-greet > p:first-of-type {
    text-align: right;
    background-color: #384E9C;
    padding-right: 1rem;
    color: #fff !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .vtour-greet > p {
    color: #384E9C;
    margin: 0;
    font-size: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .vtour-description {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 12px;
    align-self: flex-end;
    width: 80%;
    text-align: center;
    padding: 1rem;
    background-color: #FCD420;
  }

  .vtour-images {
    display: flex;
    flex: row;
    position: relative;
    overflow: scroll;
    overflow-y: hidden;
    flex: 1;
  }

  .vtour-images > img {
    height: 300px;
    width: auto;
    object-fit: cover;
  }

  /* MOBILE - SEARCH BOX */
  .search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2px;
  }

  .search-field > img {
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
  }
  .search-field > input {
    outline: none;
    background-color: none;
    border: none;
  }

}
button {
  font-size: 14px;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #D9D9D9;
}

.contact-form {

  background-color: #FCD420;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact {
  display: flex;
  background-color: #384E9C;
}



.news-item > a {
  margin-top: auto;
  text-align: center;
  padding: 0.5rem;
  background-color: #384E9C;
  color: #fff;
}


header {
  display: flex;
  background-color: #384E9C;
}

/* DESKTOP */
@media (min-width: 500px) {
  /* DESKTOP - HEADER */
  header {
    flex-direction: row;
    align-items: center;
  }

  .navigator {
    margin-left: auto;
    flex-direction: row;
    gap: 2.5rem;
    margin-right: 2.5rem;
  }

  /* DESKTOP - HERO */

  .hero-greet > .title {
    margin-right: 1rem;
    width: 600px;
    padding: 1rem 0;
    font-size: 54px !important;
    text-align: left;
  }

  /* DESKTOP - EXHIBIT */

  .exhibit {
    background-color: #384E9C;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 5vh !important;
    height: 95vh !important;
    align-items: center;
  }

  .exhibit > .title {
    color: #FCD420;
  }

  .exhibit > .semi-title {
    color: #fff;
  }

  .exhibit-container {
    gap: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }


  .exh-title {
    font-style: italic;
    color: #FCD420 !important;
    font-weight: 500;
    font-size: 28px;
  }

  .exh > img {
    width: inherit;
    height: auto;
    object-fit: cover;
  }

  .exhibit > button {
    width: 25%;
    padding: 1rem;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
  }

  .exh {
    overflow-y: auto;
    overflow-x: hidden;
    height: 450px;
    max-width: 300px;
    color: #fff;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .exh-description {
    font-size: 14px;
  }

  /* MOBILE - ABOUT */

  .know > img {
    position: absolute;
    left: -130%;
    width: 100%;
    z-index: -1;
  }

  .know > button {
    align-self: flex-end;
    font-size: 16px;
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
  }
  

  .know > .about-NU {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
  }
  
  .know > .title {
    font-weight: bold;
    font-size: 48px !important;
  }

  .know {
    position: absolute;
    right: 0;
    margin-right: 2rem;
    width: 50%;
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .about {
    padding-top: 5vh !important;
    height: 95vh !important;
    gap: 1rem;
  }

  section {
    height: 90vh;
  }

  .contact-form {
    margin-left: auto;
    width: 350px;
    padding: 2rem;
  }
  
  .contact {
    height: 75vh !important;
    flex-direction: row;
    padding: 5rem 10rem !important;
  }

  /* DESKTOP - VIRTUAL TOUR */
  .vtour {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 5vh !important;
    height: 95vh !important;
  }

  .vtour-greet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .vtour-greet > p:first-of-type {
    text-align: right;
    background-color: #384E9C;
    padding-right: 1rem;
    color: #fff !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .vtour-greet > p {
    color: #384E9C;
    margin: 0;
    font-size: var(--title);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .vtour-description {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: var(--semititle);

    align-self: flex-end;
    width: 70%;
    text-align: center;
    padding: 1rem;
    background-color: #FCD420;
  }

  .vtour-images {
    display: flex;
    flex: row;
    position: relative;
    overflow: scroll;
    overflow-y: hidden;
    flex: 1;
  }

  /* DESKTOP - NEWS */
  .news {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .news {
    padding-top: 5vh !important;
    height: 95vh !important;
  }
  
  .news > .title {
    background-color: #384E9C;
    border-radius: 5px;
    color: #fff;
    padding: 1rem 2rem;
  }

  .news-item > p {
    font-size: var(--semititle);
    font-weight: 500
  }

  .news-item {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .news-item > img {
    height: 350px;
    width: 350px;
    object-fit: cover;
  }
  
  
  .about > img {
    width: 700px;
    left: -200px;
  }

  .hero-section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .burger {
    display: none;
  }

  /* DESKTOP - HEADER */

  header {
    flex-direction: row;
    align-items: center;
    height: 10vh;
    padding: 0 2rem;
  }

  .navigator {
    display: flex;
  }

  form {
    width: 25%;
  }
  
  form > input {
    width: 100%;
    padding: 0.35rem 1rem;
  } 

  .brand {
    width: 10%;
  }

  .hh {
    height: 500px;
    width: 500px;
  }

  .hh > div > h2 {
    z-index: 2;
    position: absolute;
  }

  .quotes {
    padding: 2rem !important;
    height: 95vh !important;
    display: grid;
    place-items: center;
  }
  
  .quotes > div {
    padding: 2rem;
    display: grid;
    place-items: center;
    height: 500px;
    width: 100%;
    background-color: #FCD420;
  }
  
  .quotes > div > p:first-child {
    font-size: var(--title);
    text-align: center;
  }
  
  .quotes > div > p:last-child {
    font-size: var(--semititle);
    text-align: center;
  }

  .about > img {
    margin-top: 4rem;
    position: absolute;
    height: auto;
    
    z-index: -1;
  }

  .contact-detail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #fff;
  }

  .contact-detail > p:nth-child(1) {
    color: #000 !important;
    font-weight: 500 !important;
  }


  .contact-detail > p > span {
    color: #FCD420 !important;
  }

  .contact-detail > img {
    width: 200px;
    height: auto;
    object-fit: cover;
    margin-bottom: auto;
  }

  .contact-form > textarea {
    height: 400px;
    resize: none; 
  }

  .contact-form > button {
    align-self: flex-end;
    font-size: 16px;
    width: 50%;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
  }

  /* DESKTOP - SEARCH BOX */

  .search-field {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2px;
  }

  .search-field > img {
    width: 12px;
    height: 12px;
    margin-right: 0.5rem;
  }
  .search-field > input {
    outline: none;
    background-color: none;
    border: none;
  }
}



a {
  text-decoration: none;
}

.title {
  font-size: var(--title) !important;
}

.semi-title {
  font-size: var(--semititle) !important;
}

.navigator > a {
  color: #fff;
}

/* Slick Overrides */
.slick-slide {
  height: 500px !important;
}

.slick-slide > img {
  width: inherit !important;
  height: inherit !important;
  object-fit: cover !important;

}

.slick-next::before, .slick-prev::before {
  font-size: 30px !important;

}

.slick-next, .slick-prev {
  width: 40px !important;
}

.slick-next {
  right: 15px !important;
}

.slick-prev {
  left: 15px !important;
  z-index: 1 !important;
}